  <section class="map mintcream">
    <div class="bgfx"></div>
    <div class="no-bgfx">
      <div class="grid contents no-shade">
        <div id="map"></div>
        <div class="grid blastRadius">
        <h3>blast radius</h3>
          <ul class="coList">
            <li id="resultsQplaza" class="co resultsQplaza">results, q-plaza</li>
            <li class="co dgsAdvertising">dgs advertising, gil fernando ave.</li>
            <li class="co stCamilusMedicalCenter">st. camilus, medical center</li>
            <li class="co metroAntipoloMedCen">metro antipolo medical center</li>
            <li class="co cornelMedicalCenter">cornel medical center</li>
            <li class="co teleperformanceSMmasinag">teleperformance, sm city masinag</li>
            <li class="co teletechRbnsnsJnctn">teletech, robinsons cainta</li>
            <li class="co caintaCityHall">cainta, city hall</li>
            <li class="co resultsSilvercity">results, silver city</li>
            <li class="co straightArrowCorp">straightarrow, silver city</li>
            <li class="co getcrea8ive">getcrea8ive, silver city</li>
            <li class="co teleperformanceSilvercity">teleperformance, silver city</li>
            <li class="co ibexSilvercity">ibex global, silver city</li>
          </ul>
      </div>
      </div>
    </div>
  </section>
