<section class="stuff bgfff">
    <div class="bgfx"></div>
    <div class="no-bgfx">
      <div class="grid contents no-shade">

        <div class="grid learnThese">
          <h3>learn these</h3>
          <ul>
            <li><a href="https://aws.amazon.com/" target="_blank">
              aws <span class="appear-o">https://aws.amazon.com/</span></a></li>
            <li><a href="https://git-scm.com/"  target="_blank">
              git <span class="appear-o">https://git-scm.com/</a></li>
            <li><a href="https://github.com/" target="_blank">
              github <span class="appear-o">https://github.com/</span></a></li>
            <li><a href="https://firebase.google.com/">
              firebase <span class="appear-o">https://firebase.google.com/</span></a></li>
            <li><a href="https://zeit.co/now" target="_blank">
              now <span class="appear-o">https://zeit.co/now</span></a></li>
            <li><a href="https://slack.com/" target="_blank">
              slack <span class="appear-o">https://slack.com/</span></a></li>
            <li><a href="https://socket.io/" target="_blank">
              socket.io <span class="appear-o">https://socket.io/</span></a></li>
            <li><a href="https://webpack.js.org/" target="_blank">
              webpack <span class="appear-o">https://webpack.js.org/</span></a></li>
            <li><a href="http://www.restapitutorial.com/" target="_blank">
              rest api <span class="appear-o">http://www.restapitutorial.com/</span></a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/AJAX" target="_blank">
              ajax <span class="appear-o">https://developer.mozilla.org/en-US/docs/Web/Guide/AJAX</span></a></li>
            <li><a href="https://www.webcomponents.org/" target="_blank">
              web components <span class="appear-o">https://www.webcomponents.org/</span></a></li>
            <li><a href="https://nodejs.org/en/" target="_blank">
                node <span class="appear-o">https://nodejs.org/en/</span></a></li>
            <li><a href="https://www.staticgen.com/" target="_blank">
              static site generators <span class="appear-o">https://www.staticgen.com/</span></a></li>
            <li><a href="https://developers.google.com/maps/" target="_blank">
              google <span class="appear-o">maps apis https://developers.google.com/maps/</span></a></li>
          </ul>
        </div>

        <div class="grid frameworks">
          <h3 class="">frameworks</h3>
          <ul class="">
            <li><a href="https://vuejs.org/" target="_blank">
              vue <span class="appear-o">https://vuejs.org/</span></a></li>
            <li><a href="https://vuex.vuejs.org/en/intro.html" target="_blank">
              vuex <span class="appear-o">https://vuex.vuejs.org/en/intro.html</span></a></li>
            <li><a href="https://nuxtjs.org/" target="_blank">
              nuxt <span class="appear-o">https://nuxtjs.org/</span></a></li>
            <li><a href="https://reactjs.org/" target="_blank">
              react <span class="appear-o">https://reactjs.org/</span></a></li>
            <li><a href="https://redux.js.org/" target="_blank">
              redux <span class="appear-o">https://redux.js.org/</span></a></li>
          </ul>
        </div>

        <div class="grid spa">
          <h3>spa/hybrid app</h3>
          <ul>
            <li><a href="https://onsen.io/" target="_blank">
              onsen ui <span class="appear-o">https://onsen.io/</span></a></li>
            <li><a href="https://framework7.io/" target="_blank">
              framework 7 <span class="appear-o">https://framework7.io/</span></a></li>
            <li><a href="https://electronjs.org/" target="_blank">
              electron <span class="appear-o">https://electronjs.org/</span></a></li>
            <li><a href="https://phonegap.com/" target="_blank">
              phonegap<span class="appear-o"> https://phonegap.com/</span></a></li>
            <li><a href="https://cordova.apache.org/" target="_blank">
              cordova <span class="appear-o">https://cordova.apache.org/</span></a></li>
          </ul>
        </div>

        <div class="grid tools">
          <h3>tools</h3>
          <ul>
            <li>sketch</li>
            <li>gravit designer</li>
            <li>google web designer</li>
            <li>muse</li><br>

            <li><a href="https://wordpress.org/" target="_blank">
              wordress <span class="appear-o">https://wordpress.org/</span></a></li>
            <li><a href="https://grabaperch.com/" target="_blank">
              perch <span class="appear-o">https://grabaperch.com/</span></a></li>
            <li><a href="https://jekyllrb.com/" target="_blank">
                jekyll <span class="appear-o">https://jekyllrb.com/</span></a></li><br>

            <li>sketchbook</li>
          </ul>
        </div>

      </div><!-- contents -->
    </div>
    </div>
  </section>
