  <section class="tallFooter mintcream">
    <div class="bgfx"></div>
    <div class="bgfx">
      <div class="grid contents shade">

      <div class="footerHeader">
        <h4>this is <strong>fuaitoo!</strong></h4>
        <nav>
          <a href="">store</a>
          <a href="">blog</a>
          <a href="">home</a>
          <a href="">basement</a>
        </nav>
        <div class="ad"></div>
      </div>

      <div class="emailInput">
        <input type="email" name="email" placeholder="e-mail address... desu." onfocus="yeah!">
      </div>

      <div class="email"><h6>type your email address above desu.</h6></div>

      <div class="grid services">
        <div class="theProject">
          <p class="servicesHeading">the project</p>
          <a href="">about</a>
          <a href="">icon creators</a>
          <a href="">blog</a>
          <a href="">iconathon</a>
        </div>

        <div class="pricing">
          <p class="servicesHeading">pricing</p>
          <a href="">fuaitoo pro</a>
          <a href="">teams</a>
          <a href="">education</a>
          <a href="">trial</a>
        </div>

        <div class="products">
          <p class="servicesHeading">products</p>
          <a href="">apps</a>
          <a href="">plugins</a>
          <a href="">icon api</a>
          <a href="">lingo</a>
          <a href="">hams</a>
        </div>

        <div class="cities">
          <p class="servicesHeading">cities</p>
          <a href="">manila</a>
          <a href="">nagoya</a>
          <a href="">portland</a>
          <a href="">london</a>
          <a href="">winnipeg</a>
        </div>

        <div class="profile">
          <p>team member profile</p>
          <p class="cto"></p>
          <p class="cto-name">corinna blake</p>
          <p class="kanji">綾瀬みなみお<br>前の負けだ！！<br>一般男性にイカされる<br>一流巨乳女優</p>
        </div>
      </div>

      <footer>
        <p class="copyright">copyright 2017 <span>fuaitoo!</span></p>
        <p class="followUs"> follow us on:
          <i class="fa fa-twitter fa-lg"></i>
          <i class="fa fa-facebook fa-lg"></i>
          <i class="fa fa-github fa-lg"></i>
          <i class="fa fa-google-plus fa-lg"></i>
          <i class="fa fa-codepen fa-lg"></i>
          <i class="fa fa-behance fa-lg"></i>
        </p>
      </footer>

      </div><!-- contents -->
    </div>
  </section>
